@media only screen and (max-width:576px) {
    .container #header h1 {
        font-size: 30px;
    }

    .container #section {
        width: 88%;
    }

    .container #section .input-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container #section .input-box input {
        width: 50%;
    }

    .container #section .input-box #fim {
        margin-left: 0;
    }

    .container #section .result {
        text-align: justify;
    }
}